body, td, th 
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	direction: rtl;
	
}

body
{
    background-image: url('../images/pages_bg.gif');
    background-repeat: repeat-x;
    background-color: #d4d4d4;
   /* width: 757px;*/
    height: 363px;
    color: #666666;
}

/*a:link    
{
    color: #006666; 
}

a:visited   
{
    color: #006666; 
}

a:hover  
{
    color: #009999; 
}

a:active  
{
	color: #009999; 
} */


.style5
{
    width: 25px;
}
    
/*.captchTextBoxStyle
{
    direction: ltr;
}     juju*/

.emailTextBoxStyle
{
    direction: ltr;
    border-radius: 3px;
    border: 1px solid #666666;
    color: #666666;
    font: normal 500 14px Arial, sans-serif;
    padding-left: 1px;   /*added   juju*/
} 

.waterMarkStyle
{
    color: #666666; /*Red   changed juju
    border-color: Black;*/
    border-radius: 3px;
    border: 1px solid #666666;
    font: normal 500 14px Arial, sans-serif;
}    
.persdata   /* juju*/
{
  font-weight: bold;
   width: 30%;
   height: 40px;    
 }

.style7
{
    width: 40%;   /*260 juju*/
}

/*.style8  juju 
{
    width: 520px;
    height: 25px;
    margin-right: 0px;
    vertical-align: bottom;
    margin-top: 25px;
     
   
}*/
.ftrError
{
    width: 300px;
     height: 30px;
}
.ftr1
{
    float: right;
    margin-right: 70px;
    width: 300px;
}
.ftr2
{
   
   /* float: left;*/
   white-space: nowrap;
   
}
/*.style16
{
    width: 49px;
}  

.style22
{
    height: 12px;
}   juju*/

.style23
{
    width: 167px;/**/
   
   }

/*.style27
{
    width: 289px;
    height: 22px;
}   

.style28
{
    height: 22px;
}

.style29
{
    width: 289px;
    text-align: left;
}

.style30
{
    height: 22px;
    width: 135px;
}juju*/

#form1
{
    height: 396px;
    width:753px;   
    direction: rtl; 
}

/*.style31
{
    height: 39px;
}   juju*/

.style32
{
    width: 167px;
    height: 39px;
}

/*.style33
{
    width: 25px;
    height: 39px;
}  

.style34
{
    width: 260px;
    height: 39px;
}juju */

.style35
{
    height: 25px;
    white-space: nowrap;  /*  juju*/
}

#smsAgreementCheckBox
{
   /* width: 20px;   juju*/
}
.pages_inner_frame_large  /*  juju*/
{
   height: 420px;
}

.pages_inner_frame_large #ltr
{
    direction: ltr;
    height: 13px;
}

#table1
{
    width: 590px; /*659px     juju*/
    height: 260px;  /*202px     juju*/
    margin-top: 0px;
    margin-left: 70px;
    margin-right: auto;  
}     

/*#table2
{
    width: 53%; 
    height: 54px;
}      

#table3
{
    height: 65px;
} juju*/

#submitSignUp
{
    text-align: left;
}

/*#table3 #helpPopupTitleCell
{
    font-size: medium; 
    font-weight: bold;
}

#table3 #helpPopupContentCell
{
    font-size: small; 
    font-weight: bold;
}

#table3 .style22 a
{
    border-style: none; 
    padding: inherit; 
    font-weight: bold; 
    color: #00CCFF;             
    text-decoration: blink;
} juju    */

#signUpErrorLabel /* added */
{
    width: 225px;  
    float: left;    /*juju */
}


.popupUnblock
{
    font-weight: bold; /* juju*/
    color: #a1a5a9; /*Red 009999  changed juju*/
    direction: rtl;
    float: right;
    vertical-align: middle;
    text-align: right;
    display: inline;
    visibility: hidden;
   
}

.form_align
{
    margin-right: 13px;
    margin-left: auto;   
}

.txtBox   /*added   juju*/
{
    border-radius: 3px;
    border: 1px solid #666666;
    color: #666666;
    font: normal 500 14px Arial, sans-serif;
     padding-right: 1px;
}
.ltrTextBox
{
    direction: ltr;
    border-radius: 3px;  /*added   juju*/
    border: 1px solid #666666;  /*   juju*/
    color: #666666;  /* juju*/
    font: normal 500 14px Arial, sans-serif;
     padding-left: 1px;   /*added   juju*/
} 

.chkBox/* added   juju-------------------------------------------------------------don't work   */
{
    border-radius: 3px;
    border: 1px solid #666666;
    color: #666666;
}
input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align: middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}
input[type=checkbox]:checked + label:before {
    content: "\2714"; /* Tick */
    color: white;
    background-color: #666; 
    text-align: center;
    line-height: 15px;
    text-shadow: 0px 0px 3px #eee;
}

#areaCodeDropDownList
{
    border: 1px solid #666666 /*red*/
        
}

select option             /* :selected    ---------------------check it!   juju */  
{
    background-color: Yellow;
}

#UpdatePanel1 
{
    width: 430px;   /*22px;*/  
     margin-right: 100px; /*13px;   juju */    
}
