body, td, th
{
	/*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 15px;
    text-align: right;
    color: #666666;     /*added juju*/
}

body  /*added juju*/
{
	background-image: url('../images/pages_bg.gif');
	background-repeat: repeat-x;
	background-color: #d4d4d4;     
     height: 509px;
    color: #666666;    
}
.style1
        {
            height: 253px;
        }
/*
#pageiframe
{
    height: 382px;
    width: 789px;
}

table
{
     width: 100%; 
     height: 398px;    
}

.style1
{
    height: 34px;
}

.style2
{
    height: 53px;
}

.style3
{
    height: 29px;
}

.style4
{
    height: 34px;
    width: 777px;
}

.style5
{
    height: 53px;
    width: 777px;
}

.style6
{
    height: 29px;
    width: 777px;
}

.style7
{
    width: 777px;
}
*/