.support,
.support-two {
	display: inline-block;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.support em,
.support-two em {
	background: #FF6600;
	border-radius: 20px;
	border: 1px solid #999;
	text-align: center;
	color: #FFF;
 	font: normal bold 16px Arial;
 	padding: 0 4px;
}
.tip, .tip-two, .tip-three
{
    display: none;
    position: absolute;
    z-index: 9998;
    top: 0; /*left: 100%;*/
    right: 100%;
    background: #EEEEEE;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
    text-align: right /*left*/;
    color: #666666;
    font: normal 500 14px Arial, sans-serif;
    opacity: .9;
    cursor: default;
    padding: 5px;
    margin: -15px 0 0 10px;
    width: 200px;
    min-height: 50px;
    height: auto;
}
.tip-two,
.tip-three { 
  	margin: -30px 0 0 0;
}
.tip:before,
.tip-two:before,
.tip-three:before {
 	/*border-width: 9px 8px 9px 0;*/
 	border-width: 9px 0 9px 8px;
 	/*border-color: transparent #cccccc transparent transparent;*/
 	border-color: transparent transparent transparent #cccccc;
 	top: 13px;
 	/*left: -9px;*/
 	right: -9px;
}
.tip:after,
.tip-two:after,
.tip-three:after {
 	/*border-width: 7px 7px 7px 0;*/
 	border-width: 7px 0 7px 7px;
 	/*border-color: transparent #ededed transparent transparent;*/
 	border-color: transparent transparent transparent #ededed;
 	top: 15px;
 	/*left: -7px;*/
 	right: -7px;
}
.tip:before,
.tip-two:before,
.tip-three:before,
.tip:after,
.tip-two:after,
.tip-three:after {
 	content:"";
 	position:absolute;
 	width: 0px;
 	height: 0px;
 	border-style: solid;
}
a.support:focus em,
a.support-two:focus em,
#tip-checkbox:checked ~ .support em {
 	background: #6699FF;
}

.tip-block {
 	display: inline-block;
 	position: relative;
 	background: transparent;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	height: 0;
 	width: 1px;
}

/*--------------Внутри тега 'A'------------*/

a.support:focus .tip {
	 display:block;
}
a.support[tabindex="1"]:focus {
	 outline: none;
}
/*---------------Непосредственно после тега 'A'----------------*/

a.support-two:focus + .tip-block .tip-two {
 	display:block;
}
a.support-two[tabindex="1"]:focus {
 	outline: none;
}

/*---------При наведении--------------*/

.support-hover,
.support-hover-two {
 	display: inline-block;
 	position: relative;
 	color: #06C;
 	text-decoration: none;
 	cursor: pointer;
    top: 1px;
    right: 4px;
    width: 22px;
    height: 22px;
}
.support-hover em, .support-hover-two em
{
    background: #999999;
    border-radius: 20px;
    border: 1px solid #999;
    text-align: center;
    color: #FFF;
    font: normal bold 16px Arial;
    padding: 0 4px;
}
a.support-hover:hover em, a.support-hover-two:hover em
{
    background: #a1a5a9;
}
/*--------------Внутри тега 'A'------------*/

a.support-hover:hover .tip {
 	display:block;
}

/*---------------Непосредственно после 'A'---------------*/
a.support-hover-two:hover + .tip-block .tip-two {
 	display:block;
}